<template lang="pug">
teleport(to="#dialog")
	.modal(:class="{ 'modal-active': context.active }", key="choiceDialog")
		.center(@click.self="() => !persistant && cancel()")
			.card.z-depth-2(:style="{ width: width ? width + 'px' : 'auto' }")
				.content
					.headline.pv-3 {{ context.headline || 'Choice Required' }}
					.text {{ context.text }}
					.hint(v-if="context.hint") {{ context.hint }}
					.options-wrap(v-show="availableOptions.length > 0")
						.options
							.option.mv-1(
								v-for="option of availableOptions",
								@click="() => choose(option)",
								:class="{ 'option-active': choice[option.id] === true }"
							) {{ option.label }}
					.options-wrap(v-show="availableOptions.length === 0 && context.noOptions") {{ context.noOptions }}
					.buttons.pt-0.pb-2
						FlatButton.mr-2(@click="cancel", label="Cancel")
						FlatButton.ml-2(
							@click="submitChoice",
							label="Choose",
							:class="{ disabled: submitChoiceDisabled }"
						) 
</template>

<script lang="ts">
import {
	defineComponent,
	ref,
	// eslint-disable-next-line no-unused-vars
	Ref,
	computed,
	watch,
	PropType,
} from "vue";
import FlatButton from "../general/FlatButton.vue";
import Input from "../general/Input.vue";
import Form from "../general/Form.vue";
// eslint-disable-next-line no-unused-vars
import { ChoiceDialogContext } from "@render/core/dialogs/choices";
import { orderBy } from "lodash";

export default defineComponent({
	components: {
		FlatButton,
		Input,
		Form,
	},
	props: {
		context: { type: Object as PropType<ChoiceDialogContext<any>>, required: true },
		persistant: Boolean,
		width: [String, Number],
		value: [Array, Object],
	},
	setup(props, { emit }) {
		// TODO: fix
		// eslint-disable-next-line no-unused-vars
		const formRef: Ref<{ validate: (permissive: boolean) => Boolean } | undefined> =
			ref(undefined);

		const availableOptions: Ref<Array<{ id: number; label: string }>> = ref([]);

		const choice: Ref<{ [key: number]: boolean }> = ref({});
		watch(
			() => props.context.active,
			() => {
				if (props.context.active) {
					choice.value = {};
					const options: Array<{ id: number; label: string }> = [];
					let i = 0;

					for (const option of props.context.options ?? []) {
						if (typeof option === "string") {
							options.push({ label: option, id: i++ });
						} else if (typeof option === "object") {
							options.push({ label: option.label, id: i++ });
						} else {
							throw new Error("Option has to be string or object");
						}
					}
					availableOptions.value = orderBy(options, (option) => option.label);
				} else {
					availableOptions.value = []
				}
			}
		);

		const submitChoiceDisabled = computed(() => Object.keys(choice.value).length === 0);

		const choose = (option: { id: number; label: string }) => {
			if (choice.value[option.id] === true) {
				delete choice.value[option.id];
				choice.value = { ...choice.value };
			} else if (!props.context.multi) {
				choice.value = { [option.id]: true };
			} else {
				choice.value = { ...choice.value, [option.id]: true };
			}
		};

		const submitChoice = () => {
			if (typeof props.context.choose === "function") {
				props.context.choose(
					props.context.options?.filter((option, index) => choice.value[index])
				);
			}
			emit("choose");
		};

		const cancel = () => {
			if (typeof props.context.cancel === "function") {
				props.context.cancel();
			}
			emit("cancel");
		};
		return {
			submitChoice,
			cancel,
			choice,
			choose,
			formRef,
			submitChoiceDisabled,
			availableOptions,
		};
	},
});
</script>

<style scoped lang="stylus">
.card {
	min-width: 300px;
	padding: 0px;
}

.content {
	padding: var(--spacing) calc(var(--spacing) * 3);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto minmax(100px, 1fr) auto;
	grid-template-areas: 'headline' 'text' 'hint' 'options' 'buttons';
	max-height: calc(100vh - var(--double-spacing) * 6);
	grid-gap: var(--half-spacing);

	.headline {
		grid-area: headline;
	}

	.text {
		grid-area: text;
	}

	.hint {
		grid-area: hint;
		font-size: 0.9rem;
		color: var(--hint-color);
	}

	.options-wrap {
		grid-area: options;
		min-height: 0;
	}

	.buttons {
		grid-area: buttons;
	}
}

.headline {
	font-size: 1.2rem;
}

.question {
	color: var(--text-color);
}

.option {
	padding: var(--half-spacing) var(--spacing);
	background-color: var(--choice-option-backround);
	cursor: pointer;
	border-radius: var(--border-radius);
	transition: 0.2s;
}

.option:hover {
	background-color: var(--primary-light-color);
	transform: scale(1.025);
}

.option-active {
	background-color: var(--primary-color);
	transform: scale(1.05) !important;
}

.options-wrap {
	margin-top: calc(var(--double-spacing) - var(--half-spacing));
	margin-bottom: calc(var(--double-spacing) - var(--half-spacing));
	padding: var(--half-spacing);
	padding-left: var(--double-spacing);
	padding-right: var(--double-spacing);
	overflow-y: auto;
	max-height: 100%;
	min-height: 0;
}

.options {
	width: 100%;
	min-height: 0px;
}
</style>
