<template lang="pug">
teleport(to="#dialog")
    .modal(:class="{'modal-active': context.active}")
        .center( @click.self="() => !persistant && deny()" )
            .card.z-depth-2
                .content
                  .headline.pv-3 {{ context.headline || "Confirmation Required" }}
                  .spacer
                  .question {{ context.question }}
                  .hint.pt-1(v-if="context.hint") {{context.hint}}
                  .pt-2
                  .pv-2
                  FlatButton.ph-3.mr-2(@click="deny" label="No")
                  FlatButton.ph-3.ml-2(@click="confirm" label="Yes")     
                  .pb-2
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import FlatButton from "../general/FlatButton.vue";
// eslint-disable-next-line no-unused-vars
import { ConfirmDialogContext } from "@render/core/dialogs/confirmations";

export default defineComponent({
  components: {
    FlatButton
  },
  props: {
    context: { type: Object as PropType<ConfirmDialogContext>, required: true },
    persistant: Boolean
  },
  setup(props, { emit }) {
    const confirm = () => {
      if (typeof props.context.confirm === "function") {
        props.context.confirm();
      }
      emit("confirm");
    };

    const deny = () => {
      if (typeof props.context.deny === "function") {
        props.context.deny();
      }
      emit("deny");
    };
    return { confirm, deny };
  }
});
</script>

<style scoped lang="stylus">
.card {
  min-width: 200px;
}

.content {
  padding-left: calc(var(--spacing) * 3);
  padding-right: calc(var(--spacing) * 3);
}

.headline {
  font-size: 1.2rem;
}

.question {
  color: var(--text-color);
}

.hint {
  font-size: 0.9rem;
  color: var(--hint-color);
}
</style>
