<template lang="pug">
teleport(to="#dialog")
    .modal(:class="{'modal-active': context.active}" key="parameterDialog")
        .center( @click.self="() => !persistant && close()" )
            .card.z-depth-2(:style="{width: width ? width +'px': 'auto'}")
                Form.content
                  .headline.pv-3 {{ context.headline || "Confirmation Required" }}
                  .text.pv-2 {{ context.text }}
                  Input( type="text" v-model="parameter" :label="context.hint" :rules="context.rules" v-on:keyup.enter="save")
                  ProxyForPortal(ref="safeRef")
                  .pt-1
                  .pv-2
                  FlatButton.ph-2.mr-2(@click="close" label="Close")
                  FlatButton.ph-2.ml-2(@click="save" label="Save" :class="{disabled: saveDisabled}")     
</template>

<script lang="ts">
// eslint-disable-next-line no-unused-vars
import { defineComponent, ref, Ref, watch, watchEffect, computed, PropType } from "vue";
import FlatButton from "../general/FlatButton.vue";
import Input from "../general/Input.vue";
import Form from "../general/Form.vue";
import ProxyForPortal from "../general/ProxyForPortal.vue";
// eslint-disable-next-line no-unused-vars
import { ParameterDialogContext } from "@render/core/dialogs/parameters";

export default defineComponent({
  components: {
    FlatButton,
    Input,
    Form,
    ProxyForPortal
  },
  props: {
    context: { type: Object as PropType<ParameterDialogContext>, required: true },
    persistant: Boolean,
    width: [String, Number]
  },
  setup(props, { emit }) {
    const safeRef: Ref<any> = ref(undefined)
    // TODO:
    // eslint-disable-next-line no-unused-vars
    const formRef : Ref<{ validate: (permissive: boolean) => Boolean } & any | undefined> = computed(() => safeRef.value?.$parent)
    const parameter = ref("");
    const save = () => {
      if (typeof props.context.save === "function") {
        props.context.save(parameter.value);
      }
      emit("save");
    };

    const saveDisabled = computed(() => {
      if (!Array.isArray(props.context.rules)) return;
      for (const rule of props.context.rules || []) {
        if (typeof rule === 'function' && rule(parameter.value) !== true) 
          return true
      }
      return false
    });

    watch(
      () => props.context.active,
      () => {
        parameter.value = "";
      }
    );

    const close = () => {
      if (typeof props.context.close === "function") {
        props.context.close();
      }
      emit("close");
    };
    // TODO: cleanup formRef and safeRef should not be needed
    return { save, close, parameter, formRef, saveDisabled };
  }
});
</script>

<style scoped lang="stylus">
.card {
  min-width: 370px;
}

.content {
  padding: var(--spacing) calc(var(--spacing) * 3);
}

.headline {
  font-size: 1.2rem;
}

.question {
  color: var(--text-color);
}
</style>
