<template lang="pug">
.menu.menu-wrapper(ref="main-menu")
  .main
    .main-content
      MenuItem(v-for="item in (items && items.main)" :class="{disabled: item.disabled}" @showTooltip="showTooltip" @hideTooltip="hideTooltip" v-bind:key="item.link" :text="item.text" :link="item.link" :icon="item.icon" :tooltip="tooltips")
  .footer
    MenuItem(v-for="item in (items && items.footer)" :class="{disabled: item.disabled}" @showTooltip="showTooltip" @hideTooltip="hideTooltip" v-bind:key="item.link" :text="item.text" :link="item.link" :icon="item.icon" :tooltip="tooltips")
  .menu-tooltip(ref="menu-tooltip-container")
    .menu-tooltip-content.z-depth-2(ref="tooltip-content")
</template>

<script>
import MenuItem from "./MenuItem.vue";

export default {
  name: "Menu",
  data: function() {
    return {
      expanded: false
    };
  },
  methods: {
    showTooltip(e) {
      if (!this.tooltips || !e.text) return;
      const tooltipContainer = this.$refs["menu-tooltip-container"];
      const rect = e.boundingRect;
      tooltipContainer.style.top = rect.y + "px";
      tooltipContainer.style.left = rect.x + rect.width + "px";

      const content = this.$refs["tooltip-content"];
      content.innerHTML = e.text;
      content.classList.add('visible');
    },
    hideTooltip() {
      this.$refs["tooltip-content"].classList.remove('visible');
    }
  },
  props: {
    items: Object,
    tooltips: Boolean
  },
  components: {
    MenuItem
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
::-webkit-scrollbar {
  display: none;
}

.menu {
  position: absolute;
  width: var(--menu-size);
  height: 100vh;
  display: grid;
  grid-template-columns: var(--menu-size);
  grid-template-rows: 1fr auto;
  grid-template-areas: 'main' 'footer';

  .main {
    grid-area: main;
    height: 100%;

    overflow-y scroll

  }

  .footer {
    grid-area: footer;
  }
}

.menu-tooltip {
  position: absolute;
  display: flex;
  text-align: center;
  z-index: 1000;
  height: var(--menu-size);
  align-items: center;
  pointer-events none
  user-select none
  
  .menu-tooltip-content {
    padding: 2px 10px;
    opacity 0
    color: var(--text-color);
    background-color: var(--tooltip-background);
    white-space: nowrap;
    border-radius: var(--border-radius);
    opacity: 0
    margin-left: 0;
    transition: margin-left 0.1s, opacity 0.1s;
  }

  .visible {
    opacity: 1
    margin-left: var(--half-spacing);
    transition: all 0.1s;
  }
}
</style>
