<template lang="pug">
router-link.item(:to="link" )
  .icon(ref="menu-tooltip-source" @mouseover="showToolip" @mouseleave="hideTooltip")
    font-awesome-icon.own-icon(:icon="[falPrefix, icon]" )
</template>

<script>
import { falPrefix } from "@render/styles/icons";

export default {
  name: "MenuItem",
  data: function() {
    return {
      isActive: false,
      falPrefix
    };
  },
  methods: {
    showToolip: function() {
      this.$emit("showTooltip", {
        text: this.text,
        boundingRect: this.$refs["menu-tooltip-source"].getBoundingClientRect()
      });
    },
    hideTooltip: function() {
      this.$emit("hideTooltip");
    }
  },
  props: {
    text: String,
    link: String,
    icon: String,
    tooltipContainerId: String,
    tooltip: Boolean
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
//@import '@render/styles/default.styl';

.item {
  width: 100%;
  display: block;
  height: var(--menu-size);
  color var(--text-color)
}

.icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;

  &:hover {
    .own-icon {
      transform: scale(1.2);
    }

    background-color: var(--primary-color);
  }
}

.router-link-exact-active {
  position relative  
}
.router-link-exact-active:after {
  content ''
  position absolute
  width 2px
  height 100%
  background-color var(--text-color)  
  border-radius 0 var(--border-radius) var(--border-radius) 0
  left 0
  top 0
}
</style>
