
<template lang="pug">
.wrap
  label.container
      input(type="checkbox" :checked="modelValue" @input="onInput")
      .checkmark-wrap
        .checkmark 
      .text(v-if="label") {{label}}
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    modelValue: Boolean,
    label: String
  },
  setup(props, { emit }) {
    const onInput = (e: any) => {
      emit("update:modelValue", e.target.checked);
    };

    return {
      onInput
    };
  }
});
</script>

<style lang="stylus" scoped>
.wrap {
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  height: auto;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr;

  .checkmark-wrap {
    grid-column: 1 / 2;
    display: flex;
    height: 100%;
    align-items: center;
    // border 1px solid blue
    box-sizing: border-box;
  }
}

input[type='checkbox'] {
  display: none;
}

.checkmark {
  color: #ddd;
  position: relative;
  width: 18px;
  height: 18px;
  cursor: pointer;
  // border 1px solid red
  box-sizing: border-box;
}

.text {
  display: inline;
  margin-left: var(--spacing);
  text-align left 
}

.checkmark:before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 18px;
  border: 1px solid var(--divider-color);
  // box-sizing: border-box;
  opacity: 0.6;
  left: 0;
  top: 0;
  box-sizing: border-box;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}

input[type='checkbox']:checked + .checkmark-wrap {
  .checkmark:before {
    width: 10px;
    opacity: 1;
    border-color: var(--checked-checkbox-color);
    border-top-color: transparent;
    border-left-color: transparent;
    margin-right: calc(var(--half-spacing) + 6px);
    transform: rotate(45deg) translateY(-5px) translateX(0px);
  }
}
</style>