<template lang="pug">
.expander.pa-0(ref="expanderRef", :class="{ expanded: isExpanded }")
	//-//TODO: slot for header
	.header(@click="switchExpanded", :class="{ highlight: highlighted }")
		.higlight-area
		.title-slot
			slot(name="header", v-bind="{ header, highlighted }")
				.title.pa-2 {{ header }}
		.icon.arrow.pa-2(:class="{ 'icon-expanded': isExpanded }")
			font-awesome-icon(:icon="[falPrefix, 'chevron-down']") 
	.content.ph-2(ref="contentRef", :style="contentStyle")
		.content-container(v-if="isExpanded")
			slot
</template>

<script lang="ts">
/// <reference path="../../frontend/ts-types/ResizeObserver.d.ts" />
import {
	defineComponent,
	// eslint-disable-next-line no-unused-vars
	Ref,
	ref,
	watch,
	reactive,
	onUnmounted,
	onMounted,
} from "vue";

import { forEach, sumBy } from "lodash";
// eslint-disable-next-line no-unused-vars
import { nextTick } from "vue";
import { falPrefix } from "@render/styles/icons"

export default defineComponent({
	props: {
		header: String,
		expanded: Boolean,
		isHighlighted: Boolean,
	},
	setup(props) {
		const expanderRef: Ref<HTMLDivElement> = ref({} as HTMLDivElement);
		const contentRef: Ref<HTMLDivElement> = ref({} as HTMLDivElement);
		const isExpanded = ref(false);
		const contentStyle = reactive({ maxHeight: `0px` } as CSSStyleDeclaration);

		const resize = () => {
			if (isExpanded.value) {
				const size = `${sumBy(contentRef.value.children, (child) => child.clientHeight)}px`;
				contentStyle.transition = "0s";
				if (contentStyle.maxHeight != size) contentStyle.maxHeight = size;
				nextTick(() => (contentStyle.transition = "0.2s"));
			}
		};

		const resizeObserver = new ResizeObserver(resize);

		const switchExpanded = () => {
			let maxHeight = 0;
			isExpanded.value = !isExpanded.value;
			nextTick(() => {
				//}
				if (isExpanded.value) {
					forEach(contentRef.value.children, (child) => {
						maxHeight += child.clientHeight;
						resizeObserver.observe(child);
					});
				} else {
					resizeObserver.disconnect();
					maxHeight = 0;
				}
				contentStyle.maxHeight = `${maxHeight}px`;
			});
		};
		watch(
			() => props.expanded,
			() => (isExpanded.value = props.expanded === true)
		);

		onUnmounted(() => resizeObserver.disconnect());

		const highlighted = ref(false);
		watch(
			() => props.isHighlighted,
			() => (highlighted.value = props.isHighlighted ?? false)
		);
		const highlight = (highlight: boolean) => {
			highlighted.value = highlight;
		};

		onMounted(() => {
			if (props.expanded) {
				switchExpanded();
			}
		});

		return {
			isExpanded,
			switchExpanded,
			contentRef,
			expanderRef,
			contentStyle,
			resize,
			highlighted,
			highlight,
			falPrefix
		};
	},
});
</script>

<style lang="stylus" scoped>
.expander {
	display: grid;
	color: var(--text-color);
	grid-template-rows: auto auto;
	grid-template-columns: 1fr;
	grid-template-areas: 'header' 'content';
	overflow: visible;

	.header {
		grid-area: header;
		cursor: pointer;
		user-select: none;
		display: grid;
		grid-template-areas: 'title arrow';
		grid-template-columns: 1fr auto;
		transition-duration: 0.15s;
		overflow: visible;
		position: relative;

		.higlight-area {
			position: absolute;
			grid-area: header;
			width: 100%;
			height: 100%;
			background-color: var(--expander-background-color);
			border-radius: var(--border-radius);
			z-index: 0;
			transition: 0.2s;
		}

		.title-slot {
			grid-area: title;
			font-size: 1.1rem;
			text-align: left;
			overflow: visible;
			z-index: 1;
		}

		.arrow {
			grid-area: arrow;
			z-index: 1;
		}

		&:hover .higlight-area {
			background-color: var(--expander-hover-color);
		}
	}

	.header:hover + .icon {
	}

	.header + .icon:hover {
		.higlight-area {
			background-color: var(--expander-hover-color);
		}
	}

	.icon {
		transition: 0.2s;
		cursor: pointer;
		user-select: none;
	}

	.content {
		grid-area: content;
	}
}

.content {
	// max-height: 0;
	transition: 0.2s;
	transition-timing-function: linear;
	overflow: hidden;
	background-color: var(--expander-content-background-color);
}

.icon-expanded {
	transform: rotate(180deg);
}
</style>
