<template lang="pug">
button.button(type="button" v-bind="$attrs") {{text || label}}
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    text: String,
    label: String
  }
});
</script>

<style lang="stylus" scoped>
.button {
  background-color: var(--flat-button-background);
  color: var(--text-color);
  padding var(--half-spacing) var(--spacing)
  border-radius: var(--border-radius);
  font-size inherit
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: none;
  transition-duration: 0.2s;
  outline: none;
  font-family inherit
}

.button:hover {
  outline: none;
  background-color var(--primary-light-color-opaque)
}
</style>
