<template lang="pug">
form(@submit.prevent)
  slot
</template>

<script lang="ts">
import { defineComponent, provide} from "vue";
import { create_validation_context, IValidationContextHooks } from "./core/form"

export default defineComponent({
  setup(props, { expose }) {
    const validationContext = create_validation_context()
    provide("validation", validationContext as IValidationContextHooks)

    const validate = async function () {
      return await validationContext.validate();
    };

    expose({ validator: true, validate })
    return {
      validate
    };
  }
});
</script>

<style lang="stylus" scoped></style>
