<template lang="pug">
.wrap(:class="{ clickable: clickable, disabled: disabled }", v-bind="attrsWithoutClick")
  font-awesome-icon.icon(v-bind="attrsWithoutClick")
  .tooltip(v-show="tooltip") 
    .tooltip-content.z-depth-2 {{ tooltip }}
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({
  props: {
    tooltip: String,
    tooltipPosition: String,
    disabled: Boolean
  },
  setup(props, { attrs }) {
    const clickable = ref(!!attrs.onClick);
    const attrsWithoutClick = { ...attrs }
    delete attrsWithoutClick.onClick

    return { clickable, attrsWithoutClick };
  }
});
</script>

<style lang="stylus" scoped>
.wrap {
  display: inline;
  position: relative;
  overflow: visible;
}

.clickable:hover {
  cursor: pointer;

  .icon {
    transform: scale(1.2);
  }
}

.disabled {
  .icon {
    transform: scale(1) !important;
  }
}

.tooltip {
  position: absolute;
  display: flex;
  text-align: center;
  z-index: 1000;
  height: var(--menu-size);
  align-items: center;
  pointer-events: none;
  left: 50%;
  top: 0;
  transform: translateX(-50%) translateY(-100%);
  user-select: none;

  .tooltip-content {
    padding: 2px 10px;
    opacity: 0;
    color: var(--text-color);
    background-color: var(--tooltip-background);
    white-space: nowrap;
    border-radius: var(--border-radius);
    opacity: 0;
    margin-left: 0;
    transition: margin-left 0.1s, opacity 0.1s;
  }
}

.wrap:hover {
  .tooltip .tooltip-content {
    opacity: 1;
    z-index: 20;
    transition: all 0.1s;
  }
}
</style>
