<template lang="pug">
.input-wrap(:class="{ 'input-wrap-hint-margin': !noHint }")
  .input-wrap2(@onfocus="() => focus(true)")
    input.input(
      :class="{ invalid: isInvalid, disabled: disabled }",
      :value="modelValue",
      @input="onInput",
      :type="boundAttrs.type"
      v-on="boundAttrs",
      @focus="() => focus(true)",
      @blur="() => focus(false)"
    )
    label.label(
      :class="{ 'label-shifted': modelValue !== undefined && modelValue.toString(), 'invalid-text': isInvalid, capitalize: capitalizeLabel }"
    ) {{ label }}
    .underline(:class="{ invalid: isInvalid }")
  label.hint(
    v-show="!disabled && (invalidHint || hint)",
    :class="{ 'invalid-text': isInvalid, 'hint-visible': isFocused || isInvalid }"
    ) {{ invalidHint || hint }}
</template>

<script lang="ts">
import { defineComponent, computed, ref, watch } from "vue";
import { join_validation_context } from "./core/form";

export default defineComponent({
  props: {
    modelValue: [String, Number],
    label: String,
    invalid: Boolean,
    disabled: Boolean,
    hint: String,
    rules: Array,
    noHint: Boolean,
    capitalizeLabel: Boolean,
  },
  setup(props, { emit, attrs, expose}) {
    const onInput = (e: any) => {
      emit("update:modelValue", e.target.value);
    };

    const boundAttrs = computed(() => {
      const result = {
        ...attrs,
      };
      delete result.onInput;
      return result;
    });

    const isInvalid = ref(false);
    const invalidHint = ref("");
    const validate = async (permissive: boolean = false) => {
      if (!Array.isArray(props.rules)) return props.invalid !== true;
      if (!props.modelValue && permissive) return false;
      for (const rule of props.rules) {
        if (typeof rule !== "function") continue;
        const res = await rule(props.modelValue);
        if (res !== true) {
          isInvalid.value = true;
          invalidHint.value = res;
          return false;
        }
      }
      isInvalid.value = false;
      invalidHint.value = "";
      return true;
    };
    watch(
      () => props.modelValue,
      () => {
        validate(true);
      }
    );
    
    const isFocused = ref(false);
    const focus = (focused: boolean) => {
      isFocused.value = focused;
    };

    join_validation_context(validate);

    return {
      onInput,
      boundAttrs,
      isInvalid,
      invalidHint,
      isFocused,
      focus,
    };
  },
  methods: {
    test: () => {}
  }
});
</script>

<style lang="stylus" scoped>
.input-wrap-hint-margin {
  margin-bottom: calc(1rem + var(--half-spacing)); // hint + its padding
}

.input-wrap {
  position: relative;
  box-sizing: border-box;

  .input-wrap2 {
    margin-top: 1.3rem;
    position: relative;
    width: 100%;
  }

  input {
    font-family: inherit;
    top: 0;
    left: 0;
    width: 100%;
    border: 0;
    border-bottom: 1px solid var(--divider-color);
    border-radius: var(--border-radius);
    outline: 0;
    font-size: 1rem;
    color: var(--text-color);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
      color: transparent;
    }

    &:placeholder-shown ~ .label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
  }

  .hint {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    text-align: start;
    width: 100%;
    height: 0;
    color: var(--hint-color);
    font-size: 0.8rem;
    opacity: 0;
    transition-duration: 0.2s;
    padding-top: var(--half-spacing);
  }

  .hint-visible {
    min-height: 0.9rem;
    opacity: 1;
  }

  .invalid {
    border-color: var(--error-color) !important;
  }

  .invalid-text {
    color: var(--error-color) !important;
  }

  .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    pointer-events: none;
    // background-color: white;
    border-radius: var(--border-radius);
    border-bottom: 1px solid var(--text-color);
    height: var(--border-radius);
    width: 0%;
    z-index: 1;
    transition: 0.2s;
  }

  .label {
    position: absolute;
    top: var(--half-spacing);
    display: block;
    transition: 0.2s;
    font-size: 1.1rem;
    pointer-events: none;
    color: var(--hint-color);
  }

  input:focus {
    ~ .label {
      top: -1rem;
      font-size: 0.9rem;
    }

    ~ .underline {
      width: 100%;
    }
  }

  /* reset input */
  input {
    &:required, &:invalid {
      box-shadow: none;
    }
  }

  .label-shifted {
    top: -1rem;
    font-size: 0.9rem;
  }
}
</style>
