<template lang="pug">
.container(ref="containerRef", v-bind="$attrs", @mouseover="mouse_enter", @mouseleave="mouse_leave")
	slot(v-bind="{ switchMenuOpen }")
	teleport(to="#menu", v-if="portaled")
		.items.z-depth-2(
			ref="itemsRef",
			:class="{ 'items-visible': isOpen }",
			:style="{ 'z-index': 101, ...itemsStyle }",
			@mouseover="mouse_enter",
			@mouseleave="mouse_leave"
		)
			slot(name="itemContainer" v-for="item in ownItems" v-bind="{ item, select }")
				.menu-item-container(
					@click="(e) => select(item, e)",
					:class="{ disabled: item && item.disabled, 'menu-item-container-with-icon': item && item.icon }"
				) 
					slot(name="item", v-bind="{ item, select }")
						font-awesome-icon.icon(v-if="item.icon", :icon="[falPrefix, item.icon]")
						.item {{ (item && item.label) || item }}
	.items.z-depth-2(
		v-else,
		:class="{ 'items-visible': isOpen }",
		:style="{ width: portaled ? 'auto' : '100%', ...itemsStyle }"
	)
		slot(name="itemContainer" v-for="item in ownItems" v-bind="{ item, select }")
			.menu-item-container(
				@click="(e) => select(item, e)",
				:class="{ disabled: item && item.disabled, 'menu-item-container-with-icon': item && item.icon }"
			) 
				slot(name="item", v-bind="{ item, select }")
					font-awesome-icon.icon(v-if="item.icon", :icon="[falPrefix, item.icon]")
					.item {{ (item && item.label) || item }}
</template>

<script lang="ts">
import {
	defineComponent,
	ref,
	// eslint-disable-next-line no-unused-vars
	Ref,
	computed,
	watch,
} from "vue";

import { falPrefix } from "@render/styles/icons"

export default defineComponent({
	props: {
		items: [Array, Object],
		center: Boolean,
		itemsHeight: [Number, String],
		itemsWidth: [Number, String],
		itemsTop: [Number, String],
		itemsLeft: [Number, String],
		isMenuOpen: Boolean,
		portaled: Boolean,
		hoverable: Boolean,
	},
	setup(props: any /* TODO: types */, { emit }) {
		//caret-down
		const containerRef: Ref<HTMLElement | undefined> = ref(undefined);
		const itemsRef: Ref<HTMLElement | undefined> = ref(undefined);
		//const itemsStyle = reactive({} as CSSStyleDeclaration);

		//itemsStyle = computed()
		const topOverride: Ref<number | undefined> = ref(undefined);
		const leftOverride: Ref<number | undefined> = ref(undefined);

		const itemsStyle = computed(() => {
			let width = "100%";
			if (props.portaled) width = "auto";
			if (props.itemsWidth)
				width = `min(${props.itemsWidth}px, calc(100vw - var(--double-spacing)))`;

			let height = undefined;
			if (props.itemsHeight)
				height = `min(${props.itemsHeight}px, calc(100vh - var(--double-spacing)))`;

			let top = undefined;
			if (props.center && !props.itemsTop) {
				top = -Math.min(
					Number(props.itemsHeight) / 2,
					((props.items.length - 1) / 2 ?? 6) * 35
				);
			}
			if (props.itemsTop) top = props.itemsTop;
			if (topOverride.value) top = topOverride.value;

			const spacing = getComputedStyle(document.documentElement).getPropertyValue("--spacing");
			const rect = itemsRef?.value?.getBoundingClientRect();
			let bottom = undefined;
			if ((Number(top) ?? 0) + (rect?.height ?? 0) > document.documentElement.clientHeight) {
				top = "unset";
				bottom = spacing;
			} else {
				top += `px`;
			}

			let left = undefined;
			let right = undefined;
			if (props.itemsLeft) left = props.itemsLeft;
			if (leftOverride.value) left = leftOverride.value;
			if ((Number(left) ?? 0) + (rect?.width ?? 0) > document.documentElement.clientWidth) {
				left = "unset";
				right = spacing;
			} else {
				left += `px`;
			}

			return {
				width,
				height,
				top,
				bottom,
				left,
				right,
			};
		});

		const clickListener = (evt: Event) => {
			if (!isOpen) return;
			if (containerRef?.value === undefined) return;
			if (
				!containerRef.value.contains(evt.target as Node) &&
				!itemsRef.value?.contains(evt.target as Node)
			) {
				switchMenuOpen();
				emit("close");
			}
		};

		const resizeListener = () => {
			switchMenuOpen();
			emit("close");
		};

		const ownItems = computed(() =>
			Array.isArray(props.items) ? props.items : [...Object.values(props.items ?? {})]
		);

		const select = (item: any, e: MouseEvent) => {
			if (typeof item.click === "function") {
				item.click();
			}
			emit("select", item, e);
			switchMenuOpen();
		};

		const switchMenuOpen = (open?: boolean, e?: any) => {
			if (open === undefined) open = !isOpen.value;
			if (open) {
				document.addEventListener("click", clickListener);
				document.addEventListener("scroll", clickListener, true);
				window.addEventListener("resize", resizeListener);
				if (props.portaled && e?.x && e?.y) {
					leftOverride.value = e.x;
					topOverride.value = e.y;
					if (props.hoverable && containerRef.value !== undefined) {
						const boundingRect = containerRef.value.getBoundingClientRect();
						leftOverride.value = boundingRect.left;
						topOverride.value = boundingRect.top;
					}
				}
			} else {
				document.removeEventListener("click", clickListener);
				document.removeEventListener("scroll", clickListener, true);
				window.removeEventListener("resize", resizeListener);
			}

			isOpen.value = open;
			emit("open-change", open);
			if (open) {
				emit("open");
			}
		};

		const isOpen = ref(false);
		watch(
			() => props.isMenuOpen,
			() => {
				if (isOpen.value !== props.isMenuOpen) {
					switchMenuOpen(props.isMenuOpen);
				}
			}
		);

		const mouse_enter = (e: MouseEvent) => {
			if (!props.hoverable) return;
			if (isOpen.value === true) return;
			switchMenuOpen(true, e);
		};

		const mouse_leave = (e: MouseEvent) => {
			if (!props.hoverable) return;
			// for portals
			if (
				(e.relatedTarget as HTMLElement)?.parentElement === itemsRef.value ||
				e.relatedTarget === itemsRef.value
			)
				return;
			switchMenuOpen(false, e);
		};

		return {
			containerRef,
			select,
			ownItems,
			itemsStyle,
			isOpen,
			switchMenuOpen,
			itemsRef,
			mouse_enter,
			mouse_leave,
			falPrefix
		};
	},
});
</script>

<style lang="stylus" scoped>
.container {
	display: inline-block;
}

.items {
	position: absolute;
	z-index: 20;
	left: 0;
	top: 0;
	background-color: var(--select-background);
	pointer-events: none;
	user-select: none;
	overflow: auto;
	opacity: 0;
	transition: opacity 0.2s;
	border-radius: var(--border-radius);
	max-height: calc(100vh - var(--double-spacing));
	max-width: calc(100vw - var(--double-spacing));
}

.items-visible {
	pointer-events: all;
	opacity: 1;
}

.invalid {
	border-color: var(--error-color) !important;
}

.invalid-text {
	color: var(--error-color) !important;
}

.label {
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
	transition: 0.2s;
	font-size: 1.1rem;
	overflow-x: hidden;
	width: calc(100% - var(--double-spacing) - 20px);
	height: 100%;
	color: var(--hint-color);
	padding-left: var(--spacing);

	label {
		display: block;
		text-overflow: ellipsis;
		pointer-events: none;
		white-space: nowrap;
		overflow-x: hidden;
	}
}

.label-shifted {
	top: calc(-1.5rem - var(--half-spacing));
	font-size: 0.9rem;
}
</style>
