<template lang="pug">
.card.notification(:class="notificationClass")
  //-//TODO: source
  //-.icon
    font-awesome-icon(v-bind="$attrs" size="lg" :icon="[falPrefix, `${get_notification_icon(type)}`]").icon.inherit-font
  //-router-link.link(v-if="server" :to="'/servers/'+server") [{{ context.server }}]
  .header {{ context.text }}
  .hint(v-if="context.hint") {{ context.hint }}
  .close-icon(@click.stop="() => close_notification(context.id)")
    font-awesome-icon(:icon="[falPrefix, 'times']") 
</template>

<script lang="ts">
import { ENotificationType } from "../../store/sub-stores/actions/store/interfaces";
import { defineComponent, computed } from "vue";
import NotificationContext, {
  close_notification,
} from "../../store/sub-stores/actions/NotificationContext";
import { falPrefix } from "@render/styles/icons"

export default defineComponent({
  name: "JsonDialog",
  props: {
    context: NotificationContext,
  },
  setup({ context }) {
    const icon = computed(() => {
      switch (context?.type ?? ENotificationType.neutral) {
        case ENotificationType.failure:
          return "exclamation-triangle";
        case ENotificationType.warning:
          return "exclamation";
        case ENotificationType.success:
          return "check";
        case ENotificationType.neutral:
          return "info";
        default:
          return "info";
      }
    });

    const notificationClass = computed(() => {
      switch (context?.type) {
        case ENotificationType.failure:
          return "error";
        case ENotificationType.warning:
          return "warning";
        case ENotificationType.success:
          return "success";
        case ENotificationType.neutral:
          return "info";
        default:
          return "info";
      }
    });

    return {
      icon,
      notificationClass,
      close_notification,
      falPrefix
    };
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
.error {
  background-color: var(--notification-error-background);
  color: var(--text-color);
}

.warning {
  background-color: var(--notification-warning-background);
  color: var(--text-color);
}

.info {
  background-color: var(--notification-info-background);
  color: var(--text-color);
}

.success {
  background-color: var(--notification-success-background);
  color: var(--text-color);
}

.link {
  color: inherit;
  text-decoration: none !important;

  &:hover {
    text-decoration: underline !important;
  }
}

.notification {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-column-gap: var(--spacing);
  max-width: 100%;
  margin: var(--half-spacing);
  // padding var(--half-spacing)
  padding-left: var(--spacing);
  padding-right: var(--spacing);

  .header {
    grid-column: 1;
    font-size: 1.1rem;
    text-align: left;
    min-width: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .hint {
    margin-top: var(--half-spacing);
    grid-column: 1;
    color: var(--text-color);
    font-size: 0.9rem;
    min-width: 0px;
    text-align: left;
  }

  .icon {
    grid-column: 0;
    grid-row: 1 / 3;
    display: inline-flex;
    width: var(--menu-size);
    align-self: center;
    justify-content: center;
  }

  .close-icon {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}
</style>
