<template lang="pug">
.empty
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  setup() {
    return {};
  }
});
</script>

<style lang="stylus" scoped>
.empty {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
}
</style>
