<template lang="pug">
Menu(:center="center" :items="items" :itemsHeight="itemsHeight" :isMenuOpen="isSelectOpen" @select="select" 
    @close="closeSelect" :portaled="portaled" :itemsWidth="menuWidth" :itemsLeft="menuLeft" :itemsTop="menuTop")
  template(v-slot:item="data")
    slot(name="menuItem" v-bind="data")
  .select(ref="containerRef" :class="{'select-open': isSelectOpen}" @click="openSelect") 
    .value {{modelValue && modelValue.label || modelValue}}
    .label(:class="{'label-shifted': modelValue, 'invalid-text':isInvalid}")
      label {{label}}
    .icon
      font-awesome-icon(:icon="[falPrefix, 'caret-down']" ) 
</template>

<script lang="ts">
import {
	defineComponent,
	ref,
	// eslint-disable-next-line no-unused-vars
	Ref,
	computed,
} from "vue";
import { join_validation_context } from "./core/form";
import { falPrefix } from "@render/styles/icons"

import Menu from "./Menu.vue";

export default defineComponent({
	props: {
		label: String,
		modelValue: [String, Object],
		hint: String,
		items: [Array, Object],
		invalid: Boolean,
		rules: Array,
		center: Boolean,
		itemsHeight: [Number, String],
		portaled: Boolean,
	},
	components: {
		Menu,
	},
	setup(props: any /** TODO: types */, { emit }) {
		//caret-down
		const containerRef: Ref<HTMLElement | undefined> = ref(undefined);
		const selectedValue = ref(null);
		const selected = ref(false);
		const isSelectOpen = ref(false);

		const menuTop: Ref<string | number | undefined> = ref(undefined);
		const menuLeft: Ref<string | number | undefined> = ref(undefined);
		const menuWidth: Ref<string | number | undefined> = ref(undefined);
		const openSelect = () => {
			isSelectOpen.value = !isSelectOpen.value;
			if (props.portaled) {
				const rect = containerRef.value?.getBoundingClientRect();
				menuTop.value = rect?.top ?? undefined;
				menuLeft.value = rect?.left ?? undefined;
				menuWidth.value = rect?.width ?? undefined;
			}
		};
		const itemsStyle = ref({});
		if (props.itemsHeight) {
			itemsStyle.value = {
				top: props.center
					? `-${Math.min(
							Number(props.itemsHeight) / 2,
							((props.items.length - 1) / 2 ?? 6) * 35
					  )}px`
					: 0,
				"max-height": props.itemsHeight + "px",
				"overflow-y": "auto",
			};
		}

		const closeSelect = () => {
			isSelectOpen.value = false;
		};

		const ownItems = computed(() =>
			Array.isArray(props.items) ? props.items : [...Object.values(props.items ?? {})]
		);

		const isInvalid = ref(false);
		const validate = (permissive: boolean = false) => {
			if (!Array.isArray(props.rules)) return props.invalid !== true;
			if (!props.modelValue && permissive) return false;
			for (const rule of props.rules) {
				if (typeof rule !== "function") continue;
				const res = rule(props.modelValue);
				if (res !== true) {
					isInvalid.value = true;
					return false;
				}
			}
			isInvalid.value = false;
			return true;
		};

		join_validation_context(validate);

		const select = (item: any) => {
			emit("update:modelValue", item);
			isSelectOpen.value = false;
			isInvalid.value = false;
		};

		return {
			selectedValue,
			selected,
			openSelect,
			closeSelect,
			containerRef,
			isSelectOpen,
			select,
			ownItems,
			isInvalid,
			itemsStyle,
			menuTop,
			menuLeft,
			menuWidth,
			falPrefix
		};
	},
});
</script>

<style lang="stylus" scoped>
.container {
	position: relative;
	margin-top: calc(1.5rem + var(--half-spacing));

	.select {
		position: relative;
		display: grid;
		grid-template-columns: minmax(0, 1fr) auto;
		grid-template-rows: 1fr;
		grid-template-areas: 'value icon';
		color: var(--text-color);
		background-color: transparent;
		cursor: pointer;
		border-radius: var(--border-radius);
		user-select: none;
		padding: var(--half-spacing) var(--spacing);
		grid-gap: var(--spacing);

		.value {
			position: relative;
			display: inline-block;
			grid-area: value;
			text-align: start;
			text-overflow: ellipsis;
			overflow-x: hidden;
			white-space: nowrap;
		}

		.icon {
			display: flex;
			align-items: center;
			grid-area: icon;
			transition-duration: 0.15s;
			color: var(--hint-color);
		}
	}

	.select:hover {
		background-color: var(--primary-light-color-opaque);
	}

	.select-open {
		.icon {
			transform: rotate(180deg);
		}
	}

	.items {
		position: absolute;
		z-index: 20;
		left: 0;
		top: 0;
		width: 100%;
		background-color: var(--select-background);
		pointer-events: none;
		overflow: hidden;
		opacity: 0;
		transition-duration: 0.2s;
		border-radius: var(--border-radius);

		.item {
			text-align: start;
			height: 0px;
			color: var(--text-color);
			opacity: 0;
		}
	}

	.items-visible {
		pointer-events: all;
		max-height: none;
		opacity: 1;
		height: auto;

		.item {
			height: var(--combobox-item-height);
			padding: var(--half-spacing) var(--spacing);
			cursor: pointer;
			opacity: 1;

			&:hover {
				background-color: var(--primary-light-color-opaque);
			}
		}
	}
}

.invalid {
	border-color: var(--error-color) !important;
}

.invalid-text {
	color: var(--error-color) !important;
}

.label {
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
	transition: 0.2s;
	font-size: 1.1rem;
	overflow-x: hidden;
	width: calc(100% - var(--double-spacing) - 20px);
	height: 100%;
	color: var(--hint-color);
	padding-left: var(--spacing);

	label {
		display: block;
		text-overflow: ellipsis;
		pointer-events: none;
		white-space: nowrap;
		overflow-x: hidden;
	}
}

.label-shifted {
	top: calc(-1.5rem - var(--half-spacing));
	font-size: 0.9rem;
}

.disabled-item {
	cursor: default;
	pointer-events: none;
	color: var(--disabled-color) !important;
}
</style>
