<template lang="pug">
.input-wrap
    .input-wrap2(@onfocus="() => focus(true)" )
        textarea.input(:style="{height: height + 'px'}" :class="{'invalid':isInvalid }" :value="modelValue" @input="onInput" 
                    v-bind="boundAttrs" @focus="() => focus(true)" 
                    @blur="() => focus(false)")
        label.label(:class="{'invalid-text':isInvalid}") {{label}}
    label.hint(v-show="invalidHint || hint" :class="{'invalid-text':isInvalid, 'hint-visible': isFocused || isInvalid}") {{invalidHint || hint}}
</template>

<script lang="ts">
import { defineComponent, computed, ref, watch } from "vue";
import { join_validation_context } from "./core/form";

export default defineComponent({
  props: {
    modelValue: [String, Number],
    label: String,
    invalid: Boolean,
    hint: String,
    rules: Array,
    height: [Number, String]
  },
  setup(props, { emit, attrs }) {
    const onInput = (e: any) => {
      emit("update:modelValue", e.target.value);
    };
    const boundAttrs = computed(() => {
      const result = {
        ...attrs
      };
      delete result.onInput;
      return result
    });

    const isInvalid = ref(false);
    const invalidHint = ref("");
    const validate = (permissive: boolean = false) => {
      if (!Array.isArray(props.rules)) return props.invalid !== true;
      if (!props.modelValue && permissive) return false;
      for (const rule of props.rules) {
        if (typeof rule !== "function") continue;
        const res = rule(props.modelValue);
        if (res !== true) {
          isInvalid.value = true;
          invalidHint.value = res;
          return false;
        }
      }
      isInvalid.value = false;
      invalidHint.value = "";
      return true;
    };
    watch(
      () => props.modelValue,
      () => {
        validate(true);
      }
    );

    join_validation_context(validate);

    const isFocused = ref(false);
    const focus = (focused: boolean) => {
      isFocused.value = focused;
    };

    return {
      onInput,
      boundAttrs,
      isInvalid,
      invalidHint,
      isFocused,
      focus
    };
  }
});
</script>

<style lang="stylus" scoped>
.input-wrap {
  position: relative;
  box-sizing: border-box;

  .input-wrap2 {
    margin-top: 1.3rem;
    position: relative;
    width: 100%;
  }

  textarea {
    font-family: inherit;
    top: 0;
    left: 0;
    width: calc(100% - var(--double-spacing));
    border: 0;
    padding: var(--spacing);
    border-radius: var(--border-radius);
    outline: 0;
    font-size: 1rem;
    color: var(--text-color);
    background: var(--textarea-background);
    transition: border-color 0.2s;
    resize: none;

    &::placeholder {
      color: transparent;
    }

    &:placeholder-shown ~ .label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
  }

  .hint {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    text-align: start;
    width: 100%;
    height: 0;
    color: var(--hint-color);
    font-size: 0.8rem;
    opacity: 0;
    transition-duration: 0.2s;
    padding: var(--half-spacing);
  }

  .hint-visible {
    min-height: 0.9rem;
    opacity: 1;
  }

  .invalid {
    border-color: var(--error-color) !important;
  }

  .invalid-text {
    color: var(--error-color) !important;
  }

  .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    pointer-events: none;
    // background-color: white;
    border-radius: var(--border-radius);
    border-bottom: 1px solid var(--text-color);
    height: var(--border-radius);
    width: 0%;
    z-index: 1;
    transition: 0.2s;
  }

  .label {
    position: absolute;
    display: block;
    transition: 0.2s;
    top: calc(-1rem - var(--half-spacing));
    font-size: 0.9rem;
    pointer-events: none;
    color: var(--hint-color);
  }
}
</style>
