<template lang="pug">
.card(ref="dashboardPlugin")
	slot
</template>

<script lang="ts">
import { defineComponent, watch, inject, Ref, ref } from "vue";
import { v4 as uuidv4 } from "uuid";
import { IDashboardContextHooks } from "./interfaces";

export default defineComponent({
	props: {
		columnsSpan: Number,
		rowSpan: Number,
		index: Number,
		positionRight: Boolean,
        shrinkable: Number,
		name: {type: String, required: true}
	},
	setup(props) {
		const id = uuidv4();
		const dashboardPlugin: Ref<HTMLDivElement | undefined> = ref(undefined);
		const { bind, unbind, request_recalculate } = inject("dashboard") as IDashboardContextHooks;

		const adjust_style = (style: { [key: string]: string }) => {
			if (dashboardPlugin.value) {
				for (const prop of Object.keys(style)) {
					dashboardPlugin.value.style.setProperty(prop, style[prop]);
				}
			}
		};

		watch(
			() => props.columnsSpan,
			() => {
				unbind(id);
				bind(id, {
					columnSpan: props.columnsSpan,
					index: props.index,
					rowSpan: props.columnsSpan,
					positionRight: props.positionRight,
                    shrinkable: props.shrinkable,
					name: props.name,
					adjust_style
				});
				request_recalculate();
			}
		);

		bind(id, {
			columnSpan: props.columnsSpan,
			index: props.index,
			rowSpan: props.columnsSpan,
			positionRight: props.positionRight,
            shrinkable: props.shrinkable,
			name: props.name,
			adjust_style,
		});
		return {
			dashboardPlugin,
		};
	},
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
.card {
	margin: 0px
}

</style>
