<template lang="pug">
.dashboard-wrap(ref="dashboardWrapRef")
	.dashboard(ref="dashboardRef")
		slot
</template>

<script lang="ts">
import { computed, defineComponent, onBeforeUnmount, onMounted, ref, Ref, provide } from "vue";
import { IDashboardContextBindOptions } from "./interfaces";
import { orderBy, head } from "lodash";

export default defineComponent({
	name: "Dashboard",
	props: {
		columnsSpan: Number,
		rowSpan: Number,
		index: Number,
	},
	setup(props) {
		const columnWidth = 150;
		//const rowHeight = 100
		const dashboardRef: Ref<HTMLDivElement | undefined> = ref(undefined);
		const dashboardWrapRef: Ref<HTMLDivElement | undefined> = ref(undefined);
		const width = ref(1600);
		const height = ref(900);
		let _columnCount = 12;
		const columnCount = computed({
			get() {
				return _columnCount;
			},
			set(value: number) {
				_columnCount = value;
			},
		});

		const plugins: { [key: string]: IDashboardContextBindOptions } = {};

		const queue: Array<() => void> = []

		let reassignInterval: NodeJS.Timeout;
		const _reassign_interval = () => {
			if (queue.length > 0) {
				const task = queue.splice(0, 1)
				task[0]()
				return
			}
			clearInterval(reassignInterval)
		}

		const _reasign_positions = () => {
			let _column = 0;
			const _orderedPlugins = orderBy(Object.keys(plugins), (key) => plugins[key].index);
			let _usedColumns = 0;
			while (_orderedPlugins.length > 0) {
				const _pluginId = head(_orderedPlugins.splice(0, 1));
				if (!_pluginId) break;
				const _plugin = plugins[_pluginId];
				const _pluginColumnSpan = (_plugin.columnSpan ?? 1) * 2;
				let _expectedSpan = _pluginColumnSpan < 0 ? _columnCount : _pluginColumnSpan;
				;
				if (
					_plugin.shrinkable &&
					_expectedSpan + _column > _columnCount &&
					(_column !== _columnCount || _expectedSpan > _columnCount)
				) {
					_expectedSpan = _columnCount - _column;
					if (_expectedSpan < _plugin.shrinkable * 2) {
						_expectedSpan = _plugin.shrinkable * 2;
					}
				}
				if (_expectedSpan + _column > _columnCount) {
					if (_column > _usedColumns) _usedColumns = _column;
					_column = 0;
				}
				if (_expectedSpan > _columnCount) {
					_expectedSpan = _columnCount;
				}
				if (_plugin.positionRight) {
					if (_column + _expectedSpan) _usedColumns = _column;
					_plugin.adjust_style({
						"grid-column": `${_columnCount - _expectedSpan + 1} / span ${_expectedSpan}`,
					});
					_column = 0;
				} else {
					_plugin.adjust_style({ "grid-column": `${_column + 1} / span ${_expectedSpan}` });
					_column += _expectedSpan;
					if (_column > _usedColumns) _usedColumns = _column;
				}
			}
			if (_usedColumns + 1 < _columnCount) {
				columnCount.value = _usedColumns;
				_reasign_positions()
			}
		};

		const _recalculate_dimensions = (now: boolean = false) => {
			const fits = Math.floor(width.value / (columnWidth * 2 + columnGap.value * 2));
			let count = Math.floor(fits * 2);
			if (fits > 12) count = 12;
			if (fits < 2) count = 2;
			columnCount.value = count;
			if (now) {
				_reasign_positions()
				return
			}
			if (queue.length > 1) {
				return
			}
			reassignInterval = setInterval(_reassign_interval, 400)
			queue.push(_reasign_positions);
		};

		const observer = new ResizeObserver((entries) => {
			for (const entry of entries) {
				width.value = entry.contentRect.width;
				height.value = entry.contentRect.height;
			}
			_recalculate_dimensions(true);
		});

		const columnGap = ref(15);
		const rowGap = ref(15);

		const bind = (id: string, options: IDashboardContextBindOptions) => {
			plugins[id] = options;
		};

		const unbind = (id: string) => {
			delete plugins[id];
		};

		const request_recalculate = () => {};

		provide("dashboard", { bind, unbind, request_recalculate });

		onMounted(() => {
			if (dashboardWrapRef.value) {
				observer.observe(dashboardWrapRef.value);
			}
			if (dashboardRef.value) {
				columnGap.value = parseInt(getComputedStyle(dashboardRef.value).gridColumnGap);
				rowGap.value = parseInt(getComputedStyle(dashboardRef.value).gridRowGap);
			}
			_recalculate_dimensions()
		});

		onBeforeUnmount(() => {
			if (dashboardRef.value) {
				observer.unobserve(dashboardRef.value);
			}
		});

		return {
			dashboardRef,
			dashboardWrapRef,
		};
	},
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
.dashboard {
	display: grid;
	grid-auto-columns: minmax(150px, 1fr);
	grid-auto-rows: auto;
	grid-gap: var(--spacing);
	margin: var(--spacing);
	color: var(--text-color);
	height: 100%;
}
</style>
