<template lang="pug">
#app
  #bg
  .root-grid
    .menu(v-if="stateLoaded")
      router-link.dashboard.field.hoverable(
        to="/",
        :class="{ selected: route.path === '/' }"
      ) Status
      //-router-link.log.field.hoverable(to="/logs") Log
      router-link.dashboard.field.hoverable(
        to="/setup",
        :class="{ selected: route.path === '/setup' }"
      ) Configuration & Control
      router-link.about.field.hoverable(
        to="/about",
        :class="{ selected: route.path === '/about' }"
      ) About
    .body
      router-view

  .notifications-wrapper(v-if="stateLoaded")
    .notifications
      transition-group(name="notification")
        template(
          v-for="(notification, index) in notifications.value",
          :key="notification.id"
        )
          Notification(:context="notification")
</template>

<script lang="ts" scoped>
/// <reference types="node" />

import store from "@render/store/store";
import { defineComponent, onMounted, computed, ref, Ref, watch, ComputedRef, onUnmounted } from "vue";
import FlatButton from "@render/components/general/FlatButton.vue";
import Notification from "@render/components/general/Notification.vue";
import { info } from "@render/common/log";
import router from "./router";
import { timeout } from "./core/xtz/status";

export default defineComponent({
  components: {
    Notification,
    FlatButton,
  },

  setup() {
    const route = computed(() => router.currentRoute.value);
    const stateLoaded = ref(false);
    const notifications: Ref<ComputedRef<any> | undefined> = ref()
    onMounted(async () => {
      await store.Actions.load();
      window.app.loaded();
      info("App loaded");
      stateLoaded.value = true;
      console.log("loaded")
      notifications.value = computed(() => store.Getters.Notifications);
      router.replace("/");
    });

    onUnmounted(() => {
      if (timeout.value) clearTimeout(timeout.value);
    });

    return {
      store,
      notifications,
      route,
      stateLoaded,
    };
  },
});
</script>

<style lang="stylus" scoped>
#app {
  --background-image: url('/assets/bg2.svg');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #a55d00;
  position: relative;
  height: 100vh;
}

#bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  min-width: 350px;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.root-grid {
  display: grid;
  grid-template-rows: var(--menu-size) minmax(0, 1fr);
  grid-template-columns: 1fr;
  grid-template-areas: 'menu' 'body';
  min-height: 100vh;
  max-height: 100vh;

  .menu {
    grid-area: menu;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--menu-background);

    .field {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--text-color);
      text-decoration: none;
    }
  }

  .body {
    z-index: 1;
    grid-area: body;
    // padding: var(--spacing);
    overflow: auto;
    position: relative;

    .body-content {
      min-width: 350px;
      height: 100%;
      overflow: auto;
    }
  }
}

.notifications-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  width: calc(100vw - var(--menu-size));
  height: auto;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  pointer-events: none;
  user-select: none;

  .notifications {
    display: grid;
    margin: 5px;
    padding: calc(var(--spacing) - 5px);
    justify-items: flex-end;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;

    .notification {
      pointer-events: all;
      user-select: text;
    }
  }
}

.notification-enter-active {
  transition: transform 0.35s ease-in-out;
}

.notification-leave-active {
  transition: transform 0.35s ease-in-out, margin-top 0.35s 0.35s ease-in-out !important;
}

.notification-enter {
  transform: translateX(calc(100% + var(--double-spacing)));
}

.notification-leave-to {
  transform: translateX(calc(100% + var(--double-spacing)));
  margin-top: -100%;
}

.selected {
  background-color: var(--primary-color);
}
</style>

