<template lang="pug">
Dashboard(style="position:absolute; width: 100%; height 100%")
	DashboardPlugin(:columnsSpan="1" name="status")
		//.status-wrap
		.status
			.status-label-issues
				.status-label-issues-chip(v-if="bbState.errors !== 0 || bbState.warns !== 0") Issues
			.status-date {{bbState.statusUpdated}}
			.status-info-wrap 
				.status-info 
					.status-ok(v-if="bbState.errors === 0 && bbState.warns === 0") All ok 😊
					.status-errors-icon(v-if="bbState.errors > 0" )
						font-awesome-icon.mr-1(:icon="[falPrefix, 'times']" size="lg")
					.status-errors-text(v-if="bbState.errors > 0" ) Errors
					.status-errors-count(v-if="bbState.errors > 0" )
						b {{bbState.errors}} 

					.status-warns-icon(v-if="bbState.warns > 0")
						font-awesome-icon.mr-1(:icon="['fas', 'exclamation']" )
					.status-warns-text(v-if="bbState.warns > 0") Warnings
					.status-warns-count(v-if="bbState.warns > 0")
						b {{bbState.warns}} 
			.status-label Status
	DashboardPlugin(name="Chain Info" :columnsSpan="2" :positionRight="true")
		.chain-info-wrap
			.chain-info
				font-awesome-icon(:icon="[ falPrefix, 'cube' ]" style="display: inline")
				span {{nodeStatus.chain_head && nodeStatus.chain_head.level || "-" }}
				font-awesome-icon(:icon="[ falPrefix, 'hashtag' ]" style="display: inline")
				span {{nodeStatus.chain_head && nodeStatus.chain_head.hash || "-"}}
				font-awesome-icon(:icon="[ falPrefix, 'circle-notch' ]" style="display: inline")
				span {{nodeStatus.chain_head && nodeStatus.chain_head.cycle || "-"}}

				font-awesome-icon(:icon="[ falPrefix, 'scroll-old' ]" style="display: inline")
				span {{nodeStatus.chain_head && nodeStatus.chain_head.protocol || "-"}}
				template(v-if="nodeStatus.chain_head && (nodeStatus.chain_head.protocol !== nodeStatus.chain_head.protocol_next)")
					font-awesome-icon(:icon="[ falPrefix, 'scroll' ]" style="display: inline")
					span {{nodeStatus.chain_head && nodeStatus.chain_head.protocol_next || "-"}}
				
				font-awesome-icon(:icon="[ falPrefix, 'chart-network' ]" style="display: inline")
				span {{ nodeStatus.connections || "-"}}
				font-awesome-icon(:icon="[ falPrefix, 'clock' ]" style="display: inline")
				span {{nodeStatus.chain_head && nodeStatus.chain_head.timestamp || "-"}}

	DashboardPlugin.pa-0(name="BakeRightsInfo" :columnsSpan="-1")
		Expander(header="Baking Rights")
			.rights-wrapper
				.progress-line(v-show="isRefreshing")
				.rights.pt-2.pb-2(v-if="hasBakingRights")
					div Date
					div Level
					div Type
					div Baker Address
					div Baker Alias
					template(v-for="right in bakeRights")
						div {{new Date(right.timestamp).toLocaleString()}}
						div {{right.level}}
						div {{right.type}}
						div {{right.baker && right.baker.address}}
						div {{right.baker && right.baker.alias}}
				div.pt-2.pb-2.center(v-else) No Rights Found
	DashboardPlugin.pa-0(name="EndorsingRightsInfo" :columnsSpan="-1")
		Expander(header="Endorsing Rights")
			.rights-wrapper
				.progress-line(v-show="isRefreshing")
				.rights.pt-2.pb-2(v-if="hasEndorsingRights")
					div Date
					div Level
					div Type
					div Baker Address
					div Baker Alias
					template(v-for="right in endorsingRights")
						div {{new Date(right.timestamp).toLocaleString()}}
						div {{right.level}}
						div {{right.type}}
						div {{right.baker && right.baker.address}}
						div {{right.baker && right.baker.alias}}
				div.pt-2.pb-2.center(v-else) No Rights Found


	DashboardPlugin(name="SignerInfo" :columnsSpan="2")
		h3 Signer
		.progress-line(v-show="isRefreshing")
		.info-grid
			.header Status
			b.value {{signerStatus.status}}
			.header Status Level
			.value(:class="{ 'error-text': signerStatus.level === 'error', 'warn-text': signerStatus.level === 'warn'}") {{signerStatus.level.toUpperCase()}}
			.header Ledger Status
			b.value.uppercase(:class="{ 'error-text': signerStatus.ledger === 'not found'}") {{signerStatus.ledger}}
			.header Baking App
			b.value 
				template(v-if="signerStatus.baking_app.status==='running'")
					.mr-1(style="display: inline") Version: 
					.uppercase.mr-2(style="display: inline") {{signerStatus.baking_app.version}} 
				template(v-if="signerStatus.baking_app.status==='running'")
					.mr-1(style="display: inline") Status: 
				.uppercase(style="display: inline") {{signerStatus.baking_app.status}}

			.underline
			
			h4.ma-0.header Signer Service
			.header Status
			.value {{signerStatus.service.status}}
			.header Started
			.value {{signerStatus.service.started}}

	DashboardPlugin(name="BakerInfo" :columnsSpan="2")
		h3 Baker Node
		.progress-line(v-show="isRefreshing")
		.info-grid
			.header Status
			b.value {{bakerStatus.status}}
			//-.underline
			.header Status Level
			.value(:class="{ 'error-text': bakerStatus.level === 'error', 'warn-text': bakerStatus.level === 'warn'}") {{bakerStatus.level.toUpperCase()}}
			.underline
			h4.ma-0.header Accuser Service
			.header Status
			.value {{bakerStatus.accuser.status}}
			.header Started
			.value {{bakerStatus.accuser.started}}
			.underline
			h4.ma-0.header Baker Service
			.header Status
			.value {{bakerStatus.baker.status}}
			.header Started
			.value {{bakerStatus.baker.started}}
			.underline
			h4.ma-0.header Endorser Service
			.header Status
			.value {{bakerStatus.endorser.status}}
			.header Started
			.value {{bakerStatus.endorser.started}}
			.underline
			h4.ma-0.header Node Service
			.header Status
			.value {{bakerStatus.node.status}}
			.header Started
			.value {{bakerStatus.node.started}}



</template>

<script lang="ts">
import { computed, defineComponent, onMounted, onUnmounted, ref } from "vue";
import Dashboard from "@render/components/dashboard/Dashboard.vue";
import DashboardPlugin from "@render/components/dashboard/DashboardPlugin.vue";
import Expander from "../components/general/Expander.vue";
import Icon from "../components/general/Icon.vue";
import {
  init_refresh,
  infoUpdated,
  bakerStatus,
  signerStatus,
  isRefreshing,
  bakeRights,
  endorsingRights,
  nodeStatus,
} from "../core/xtz/status";
import { countBy } from "lodash";
import { falPrefix } from "@render/styles/icons"

export default defineComponent({
  name: "Home",
  components: {
    Dashboard,
    DashboardPlugin,
    Icon,
    Expander,
  },
  setup() {
    onMounted(async () => {
      init_refresh();
    });

    const bbState = computed(() => {
      const _states = countBy(
        [bakerStatus, signerStatus],
        (x) => x.value.level
      );
      let _warns = _states.warn;
      let _errors = _states.error;
      let _statusUpdated = infoUpdated.value;

      return {
        warns: _warns,
        errors: _errors,
        statusUpdated: new Date(_statusUpdated).toLocaleString(),
      };
    });

    const hasBakingRights = computed(() => bakeRights.value?.length > 0)
    const hasEndorsingRights = computed(() => bakeRights.value?.length > 0)

    const refreshDisabled = ref(false);

    return {
      refreshDisabled,
      bakerStatus,
      signerStatus,
      isRefreshing,
      bbState,
      nodeStatus,
      bakeRights,
      endorsingRights,
      hasBakingRights,
      hasEndorsingRights,
      falPrefix
    };
  },
});
</script>

<style lang="stylus" scoped>
.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: auto;
  grid-gap: var(--spacing);
  margin: var(--spacing);
  color: var(--text-color);
}

@media screen and (max-width: 1950px) {
  .dashboard-grid {
    grid-template-columns: repeat(9, 1fr);
  }
}

@media screen and (max-width: 1750px) {
  .dashboard-grid {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media screen and (max-width: 1550px) {
  .dashboard-grid {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media screen and (max-width: 1350px) {
  .dashboard-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (max-width: 1150px) {
  .dashboard-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 950px) {
  .dashboard-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 750px) {
  .dashboard-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .dashboard-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 350px) {
  .dashboard-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.test {
  column-span: 2;
}

.overview-title {
  grid-column: 1 / span 2;
  // text-align: left;
  margin-bottom: var(--spacing);
  margin-top: var(--spacing);
}

.overview-value {
  grid-column: 2;
}

.overview-name {
  grid-column: 1;
  text-align: left;
}

.monitoring-card {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}

.quote {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;

  .text-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .text {
      font-style: italic;
    }
  }

  .quote-autor {
    grid-row: 2;
    text-align: right;
    font-size: 0.9rem;
  }
}

.info-grid {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto;
  column-gap: var(--spacing);
  row-gap: var(--spacing);
  font-size: 1.1rem;

  .header {
    grid-column: 1;
    text-align: start;
  }

  .underline {
    grid-column: 1 / 4;
    border-bottom: 1px solid var(--text-color);
  }

  .value {
    grid-column: 2;
    text-align: start;
  }
}

// display flex
// align-items center
// justify-content center
.status {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'issues refresh' 'info info' 'date label';
  height: 100%;
  width: 100%;

  .status-info-wrap {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    grid-area: info;

    .status-info {
      display: grid;
      flex: 1;
      grid-template-columns: auto auto 1fr auto;
      grid-row-gap: var(--double-spacing);
      grid-auto-rows: auto;
      margin: var(--spacing);

      .status-errors-count {
        color: var(--error-color);
        font-size: 1.5em;
        grid-column: 4;
      }

      .status-errors-icon {
        color: var(--error-color);
        font-size: 1.5rem;
        grid-column: 1;
      }

      .status-errors-text {
        font-size: 1.5rem;
        grid-column: 2;
        text-align: start;
        margin-left: var(--half-spacing);
      }

      .status-warns-count {
        color: var(--warning-color);
        font-size: 1.5rem;
        grid-column: 4;
      }

      .status-warns-icon {
        color: var(--warning-color);
        font-size: 1.5rem;
        grid-column: 1;
        padding-left: 10px;
        padding-right: 10px;
      }

      .status-warns-text {
        font-size: 1.5rem;
        grid-column: 2;
        text-align: start;
        margin-left: var(--half-spacing);
      }

      .status-ok {
        font-size: 1.5rem;
        grid-column: 1 / 4;
      }
    }
  }

  .status-refresh {
    grid-area: refresh;
    text-align: end;
  }

  .status-date {
    grid-area: date;
    text-align: start;
    font-size: 0.9rem;
  }

  .status-label-issues {
    grid-area: issues;
    font-size: 0.9rem;
    text-align: start;
    display: flex;

    .status-label-issues-chip {
      background-color: var(--chip-background);
      padding: 4px var(--half-spacing);
      border-radius: var(--border-radius);
      overflow: hidden;
      width: auto;
      text-transform: uppercase;
    }

    .status-label-issues-none {
      padding: 4px var(--half-spacing);
      text-transform: uppercase;
      opacity: 0;
      pointer-events: none;
      font-size: 0.9rem;
    }
  }

  .status-label {
    grid-area: label;
    font-size: 0.9rem;
    text-align: end;
  }
}

.error-text {
  color: var(--error-color) !important;
  font-weight: 800;
}

.warn-text {
  color: var(--warning-color) !important;
  font-weight: 800;
}

.progress-line, .progress-line:before {
  height: 3px;
  width: 100%;
  margin: 0;
}

.progress-line {
  background-color: var(--text-color);
  display: -webkit-flex;
  display: flex;
}

.progress-line:before {
  background-color: var(--primary-color);
  content: '';
  -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes running-progress {
  0% {
    margin-left: 0px;
    margin-right: 100%;
  }

  50% {
    margin-left: 25%;
    margin-right: 0%;
  }

  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}

@keyframes running-progress {
  0% {
    margin-left: 0px;
    margin-right: 100%;
  }

  50% {
    margin-left: 25%;
    margin-right: 0%;
  }

  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}

.chain-info-wrap {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  .chain-info {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: var(--spacing);

    span {
      text-align: start;
    }
  }
}

.rights-wrapper {
  max-height: 400px;
  overflow: auto

  .rights {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: var(--spacing);

    div {
      text-align: left;
    }
  }
}
</style>
