<template lang="pug">
.grid
  .card.event-grid
    .tool-bar
      FlatButton.clear(text="Clear Logs" @click="clearJournal")
    template(v-for="(event, index) in journalEvents" :key="index")
      .event-dateTime {{ event.dateTime }}
      .event-source [{{ event.source }}]
      .event-type {{event.type}}
      .event-text {{ event.text }}
</template>

<script lang="ts">
import { defineComponent, computed } from "vue";
import FlatButton from "../components/general/FlatButton.vue";
import store from "../store/store";

export default defineComponent({
  name: "Journal",
  components: {
    FlatButton
  },
  setup() {
    const journalEvents = computed(() => {
      return store.Getters.Journal.map((event:any) => {
        return event; //`${event.dateTime}\t[${event.source}]\t${event.text}`;
      });
    });

    const clearJournal = () => store.Actions.clear_journal();

    return {
      journalEvents,
      clearJournal
    };
  }
});
</script>

<style lang="stylus" scoped>
.event-grid {
  display: grid;
  color: var(--text-color);
  padding-left: var(--double-spacing);
  padding-right: var(--double-spacing);
  grid-template-columns: auto auto auto 1fr;
  grid-auto-rows: auto;
  grid-column-gap: var(--spacing);

  .tool-bar {
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: 1fr auto;

    .clear {
      grid-column: 2;
    }
  }

  .event-dateTime {
    grid-column: 1;
    text-align: left;
  }

  .event-source {
    grid-column: 2;
    text-align: left;
  }

  .event-type {
    grid-column: 3;
    text-align: left;
  }

  .event-text {
    grid-column: 4;
    text-align: left;
  }
}

p {
  margin: 0px;
}
</style>
