<template lang="pug">
.grid
  .card.event-grid
    .tool-bar
      FlatButton.clear(text="Clear Logs" @click="clearLog")
    template(v-for="(msg, index) in logMessages" :key="index")
      .event-dateTime {{ msg.dateTime }}
      .event-source [{{ msg.module }}]
      .event-type {{msg.level}}
      .event-text {{ msg.msg }}
</template>

<script lang="ts">
import { defineComponent, computed } from "vue";
import FlatButton from "../components/general/FlatButton.vue";
import store from "../store/store";

export default defineComponent({
  name: "Logs",
  components: {
    FlatButton
  },
  setup() {
    const logMessages = computed(() => {
      return store.Getters.Log.map((x: any) => {
        return {
          ...x,
          dateTime: new Date(x.timestamp * 1000).toLocaleString()
        }
      })
    });

    const clearLog = () => store.Actions.clear_log();

    return {
      logMessages,
      clearLog
    };
  }
});
</script>

<style lang="stylus" scoped>
.event-grid {
  display: grid;
  color: var(--text-color);
  padding-left: var(--double-spacing);
  padding-right: var(--double-spacing);
  grid-template-columns: auto auto auto 1fr;
  grid-auto-rows: auto;
  grid-column-gap: var(--spacing);

  .tool-bar {
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: 1fr auto;

    .clear {
      grid-column: 2;
    }
  }

  .event-dateTime {
    grid-column: 1;
    text-align: left;
  }

  .event-source {
    grid-column: 2;
    text-align: left;
  }

  .event-type {
    grid-column: 3;
    text-align: left;
  }

  .event-text {
    grid-column: 4;
    text-align: left;
  }
}

p {
  margin: 0px;
}
</style>
