<template lang="pug">
h3.title 404
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "Home",
  components: {
  },
  setup() {
    return {
   
    };
  }
});
</script>

<style lang="stylus" scoped>
.title
    color var(--text-color)
</style>
