<template lang="pug">
.grid
  Expander.card(header="Configuration", key="config")
    .setup-grid 
      Input(label="Bootstrap Url", v-model="bootstrapUrl")
      Input(label="Bootstrap Block Hash", v-model="bootstrapBlockHash")
      Input(label="Block Numbe (HWM)", v-model="blockNumber")
      Input(label="Main Chain Id", v-model="mainChainId")
      Input.deriv-path(
        label="Bake Rights Feed Source",
        hint="URL or baker address. If you provide baker address only BB collects rights for mainnet.",
        v-model="bakeRightsFeedSource"
      )
      Input.deriv-path(
        label="Endorsing Rights Feed Source",
        hint="URL or baker address. If you provide baker address only BB collects rights for mainnet.",
        v-model="endorsingRightsFeedSource"
      )
      Input.deriv-path(label="Ledger Key Derivation Path", v-model="derivPath")
      TextArea.mb-2.config-file(
        label="Tezos Node Config File",
        v-model="configFile",
        height="150"
      )

  Expander.card(header="Control", key="config")
    .control-grid
      FlatButton.update-btn(text="Start", @click="start")
      FlatButton.setup-btn(text="Stop", @click="stop")
      //-FlatButton.update-btn(text="Setup/Update Ami", @click="setup_ami")
      FlatButton.setup-btn(text="Setup", @click="setup")
      FlatButton.update-btn(text="Update", @click="update")
      Expander.card(header="DANGER ZONE", key="config")
        .control-grid
          FlatButton.update-btn(text="Remove", @click="remove")

  Expander.card(header="Ledger Control", key="config")
    .control-grid
      FlatButton.update-btn(text="Import Key", @click="import_key")
      FlatButton.setup-btn(text="Register Key", @click="register_key")
      FlatButton.setup-btn(
        text="Setup Ledger For Baking",
        @click="setup_ledger"
      )
  Expander.card(header="Reports", key="reports")
    .control-grid
      template(v-if="hasReports", v-for="report in reports")
        FlatButton.update-btn(
          :text="report.id",
          @click="() => copy_report(report.id, report.content)"
        )
      div(v-else) No reports available!
  .card.event-grid
    .tool-bar
      FlatButton.clear(text="Clear Logs", @click="clearLog")
    template(v-for="(msg, index) in logMessages", :key="index")
      .event-dateTime {{ msg.dateTime }}
      .event-source [{{ msg.module }}]
      .event-type {{ msg.level }}
      .event-text {{ msg.msg }}
</template>

<script lang="ts">
import { setup_ami, setup_baker } from "@render/core/xtz/setup";
import {
  import_key,
  register_key,
  setup_ledger,
} from "@render/core/xtz/ledger";
import { stop, start, remove } from "@render/core/xtz/control";
import { create_configurable_options } from "@render/store/composition/options";
import { EConfigurationOptions } from "@render/store/sub-stores/configuration/store/interfaces";
import { defineComponent, computed, ref, Ref } from "vue";
import FlatButton from "../components/general/FlatButton.vue";
import Expander from "../components/general/Expander.vue";
import Input from "../components/general/Input.vue";
import TextArea from "../components/general/TextArea.vue";
import store from "../store/store";
import { AmiLogMsg, ENotificationType } from "@render/store/sub-stores/actions/store/interfaces";
import { Report } from "@render/core/xtz/interfaces/Report";
import { write_to_clipboard } from "@render/core/ipc/clipboard";

export default defineComponent({
  name: "Logs",
  components: {
    FlatButton,
    TextArea,
    Input,
    Expander,
  },
  setup() {
    const [
      bootstrapUrl,
      bootstrapBlockHash,
      blockNumber,
      derivPath,
      configFile,
      bakeRightsFeedSource,
      endorsingRightsFeedSource,
      mainChainId,
    ] = create_configurable_options(
      EConfigurationOptions.BootstrapUrl,
      EConfigurationOptions.BootstrapBlockHash,
      EConfigurationOptions.BlockNumber,
      EConfigurationOptions.DerivPath,
      EConfigurationOptions.ConfigFile,
      EConfigurationOptions.BakeRightsFeedSource,
      EConfigurationOptions.EndorsingRightsFeedSource,
      EConfigurationOptions.MainChainId
    );

    const journalEvents = computed(() => {
      return store.Getters.Journal.map((event: any) => {
        return event; //`${event.dateTime}\t[${event.source}]\t${event.text}`;
      });
    });

    const reports: Ref<Array<Report>> = ref([]);
    const hasReports = computed(() => reports.value?.length > 0);

    const _setup = async () => {
      const report = await setup_baker(configFile.value, {
        bootstrapBlockHash: bootstrapBlockHash.value,
        bootstrapUrl: bootstrapUrl.value,
        isUpdate: false,
        blockNumber: blockNumber.value,
        derivPath: derivPath.value,
        log: (msg: AmiLogMsg) => {
          store.Actions.add_log(msg);
        },
        eventHook: (event: string) => {
          store.Actions.add_log({
            module: "bb",
            timestamp: Math.floor(new Date().getTime() / 1000),
            msg: event,
            level: "info",
          });
        },
      });
      reports.value = [...reports.value, report];
    };

    const _update = () => {
      setup_baker(configFile.value, {
        bootstrapBlockHash: bootstrapBlockHash.value,
        bootstrapUrl: bootstrapUrl.value,
        isUpdate: true,
        blockNumber: blockNumber.value,
        derivPath: derivPath.value,
        log: (msg: AmiLogMsg) => {
          store.Actions.add_log(msg);
        },
        eventHook: (event: string) => {
          store.Actions.add_log({
            module: "bb",
            timestamp: Math.floor(new Date().getTime() / 1000),
            msg: event,
            level: "info",
          });
        },
      });
    };

    const _stop = () => {
      stop({
        log: (msg: AmiLogMsg) => {
          store.Actions.add_log(msg);
        },
        eventHook: (event: string) => {
          store.Actions.add_log({
            module: "bb",
            timestamp: Math.floor(new Date().getTime() / 1000),
            msg: event,
            level: "info",
          });
        },
      });
    };

    const _start = () => {
      start({
        log: (msg: AmiLogMsg) => {
          store.Actions.add_log(msg);
        },
        eventHook: (event: string) => {
          store.Actions.add_log({
            module: "bb",
            timestamp: Math.floor(new Date().getTime() / 1000),
            msg: event,
            level: "info",
          });
        },
      });
    };

    const _remove = () => {
      remove({
        log: (msg: AmiLogMsg) => {
          store.Actions.add_log(msg);
        },
        eventHook: (event: string) => {
          store.Actions.add_log({
            module: "bb",
            timestamp: Math.floor(new Date().getTime() / 1000),
            msg: event,
            level: "info",
          });
        },
      });
    };

    const logMessages = computed(() => {
      return store.Getters.Log.map((x: any) => {
        return {
          ...x,
          dateTime: new Date(x.timestamp * 1000).toLocaleString(),
        };
      }).reverse();
    });

    const clearLog = () => store.Actions.clear_log();

    const _import_key = async () => {
      await import_key({
        derivPath: derivPath.value,
        log: (msg: AmiLogMsg) => {
          store.Actions.add_log(msg);
        },
        eventHook: (event: string) => {
          store.Actions.add_log({
            module: "bb",
            timestamp: Math.floor(new Date().getTime() / 1000),
            msg: event,
            level: "info",
          });
        },
      });
    };
    const _register_key = async () => {
      await register_key({
        log: (msg: AmiLogMsg) => {
          store.Actions.add_log(msg);
        },
      });
    };
    const _setup_ledger = async () => {
      await setup_ledger({
        log: (msg: AmiLogMsg) => {
          store.Actions.add_log(msg);
        },
        mainChainId: mainChainId.value,
      });
    };

    const _setup_ami = async () => {
      await setup_ami({
        log: (msg: AmiLogMsg) => {
          store.Actions.add_log(msg);
        },
        eventHook: (event: string) => {
          store.Actions.add_log({
            module: "bb",
            timestamp: Math.floor(new Date().getTime() / 1000),
            msg: event,
            level: "info",
          });
        },
      });
    };

    const copy_report = async (id: string, content: string) => {
      await write_to_clipboard(`\`\`\`sh\n${content}\`\`\``);
      store.Actions.notify({
        source: `BB`,
        text: `Report ${id} copied to clipboard!`,
        type: ENotificationType.neutral,
      });
    };

    return {
      journalEvents,
      setup: _setup,
      update: _update,
      configFile,
      bakeRightsFeedSource,
      endorsingRightsFeedSource,
      derivPath,
      blockNumber,
      bootstrapBlockHash,
      bootstrapUrl,
      logMessages,
      clearLog,
      stop: _stop,
      start: _start,
      remove: _remove,
      import_key: _import_key,
      register_key: _register_key,
      setup_ledger: _setup_ledger,
      setup_ami: _setup_ami,
      mainChainId,
      reports,
      copy_report,
      hasReports,
    };
  },
});
</script>

<style lang="stylus" scoped>
.setup-grid {
  display: grid;
  color: var(--text-color);
  padding-left: var(--double-spacing);
  padding-right: var(--double-spacing);
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-column-gap: var(--spacing);

  .config-file {
    grid-column: 1 / 3;
  }

  .deriv-path {
    grid-column: 1 / 3;
  }

  .setup-btn {
    grid-column: 2;
  }
}

.event-grid {
  display: grid;
  color: var(--text-color);
  padding-left: var(--double-spacing);
  padding-right: var(--double-spacing);
  grid-template-columns: auto auto auto 1fr;
  grid-auto-rows: auto;
  grid-column-gap: var(--spacing);

  .tool-bar {
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: 1fr auto;

    .clear {
      grid-column: 2;
    }
  }

  .event-dateTime {
    grid-column: 1;
    text-align: left;
  }

  .event-source {
    grid-column: 2;
    text-align: left;
  }

  .event-type {
    grid-column: 3;
    text-align: left;
  }

  .event-text {
    grid-column: 4;
    text-align: left;
  }
}

p {
  margin: 0px;
}

.control-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row-gap: var(--spacing);
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
}
</style>
