<template lang="pug">
.bar-wrap
  .bar-container 
    .icon(ref="menu-tooltip-source", @click="() => $router.back()")
      font-awesome-icon(:icon="[falPrefix, 'chevron-left']") 
    .icon(ref="menu-tooltip-source", @click="() => $router.forward()")
      font-awesome-icon(:icon="[falPrefix, 'chevron-right']") 
    .icon(ref="menu-tooltip-source")
      font-awesome-icon(:icon="[falPrefix, 'redo']", @click="refresh")
    .input-wrap
      .divider-wrap
        .divider
      input.router-input(:value="route.path", @keyup="navigate")
      .divider-wrap-right
        .divider.divider-right
    .user-icon
      .icon
        font-awesome-icon(:icon="[falPrefix, 'user-circle']")
      .tooltip-wrap
        AccountInfo.tooltip(:account="LoggedUser", :type="AccountType")
</template>

<script lang="ts">
import AccountInfo from "@render/components/AccountInfo.vue";
import { defineComponent } from "vue";
import router from "@render/router";
import { debug } from "@render/common/log";
import { falPrefix } from "@render/styles/icons";

export default defineComponent({
  props: {
    LoggedUser: String,
    AccountType: String,
  },
  components: {
    AccountInfo,
  },
  setup() {
    const navigate = function (e: KeyboardEvent) {
      const path = (e.target as HTMLInputElement).value;
      if (e.key === "Enter" && router.currentRoute.value.fullPath !== path) {
        router.push(path).catch(() => debug(`Navigatio to '${path}' failed.`));
      }
    };
    const refresh = async () => {
      const _currentRoute = router.currentRoute.value;
      await router.replace("/");
      await router.replace(_currentRoute);
    };
    return {
      navigate,
      route: router.currentRoute,
      refresh,
      falPrefix
    };
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
// @import './styles/default.styl';
.bar-wrap {
  height: var(--menu-size);
  display: flex;
  align-items: center;
  width: 100%;

  // overflow: hidden;
  .bar-container {
    display: grid;
    height: 100%;
    width: inherit;
    max-width: calc(100vw - var(--menu-size));
    grid-template-columns: var(--menu-size) var(--menu-size) var(--menu-size) minmax(0, 1fr) var(--menu-size);
    grid-template-rows: auto;
    grid-template-areas: 'back forward redo addr mail';

    .input-wrap {
      position: relative;
      margin-left: var(--spacing);
      margin-right: var(--spacing);
      display: flex;
      align-items: center;

      .divider-wrap {
        position: absolute;
        display: flex;
        align-items: center;
        height: 100%;
      }

      .divider-wrap-right {
        position: absolute;
        display: flex;
        align-items: center;
        height: 100%;
        right: 0;
        top: 0;
      }

      .divider {
        height: 16px;
        width: 1px;
        background-color: var(--text-color);
        z-index: 1;
      }

      .router-input {
        position: relative;
        box-sizing: border-box;
        border-radius: var(--border-radius);
        background-color: transparent;
        border: none;
        color: inherit;
        width: 100%;
        padding: var(--third-spacing);
        padding-left: var(--spacing);
        padding-right: var(--spacing);
        transition: 0.2s;

        &:focus {
          // zborder: solid 1px var(--text-color);
          outline: none;
          background-color: var(--nav-addr-focused-background);

          ~ .underline {
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

.icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

.user-icon {
  position: relative;

  .tooltip-wrap {
    position: absolute;
    // display: none;
    top: 100%;
    right: -10px;
    z-index: 100;
    opacity: 0;
    transition: 0.2s;
    pointer-events: none;

    .tooltip {
      margin: var(--spacing);
      min-width: 200px;
    }
  }
}

.user-icon:hover {
  .tooltip-wrap {
    pointer-events: all;
    display: block;
    opacity: 1;
  }
}
</style>