@import './typography.styl';

:root {
	--spacing: 15px;
	--menu-size: 42px;
	--half-spacing: calc((var(--spacing) / 2));
	--third-spacing: calc((var(--spacing) / 3));
	--double-spacing: calc(var(--spacing) * 2);
	--triple-spacing: calc(var(--spacing) * 3);
	--primary-color: #915001;
	--primary-color-opaque: rgba(30, 59, 93, 0.5);
	--primary-light-color: #7a4500;
	--primary-light-color-opaque: rgba(122, 69, 0, 0.7);
	--secondary-color: #b78a1d;
	--border-radius: 9px; // 4px
	--text-color: #ededed;
	--error-color: #ad0020;
	--warning-color: rgb(197, 86, 0);
	--success-color: green;
	--notification-error-background: rgba(172, 0, 32, 0.95);
	--notification-warning-background: rgba(197, 86, 0, 0.95);
	--notification-info-background: rgba(0, 0, 0, 0.95);
	--notification-success-background: rgba(0, 128, 0, 0.95);
	--checked-checkbox-color: limegreen;
	--hint-color: #999;
	--divider-color: #999;
	--disabled-color: #aaa;
	// --primary-color: #2b9cd4;
	--menu-background: rgba(0, 0, 0, 0.8);
	--nav-addr-background: rgba(0, 0, 0, 0.5);
	--nav-addr-focused-background: rgba(255, 255, 255, 0.1);
	--flat-button-focused-background: rgba(255, 255, 255, 0.2);
	--flat-button-background: rgba(255, 255, 255, 0.05);
	--card-background: rgba(15, 15, 15, 0.85);
	--table-focused-row-background: rgba(255, 255, 255, 0.2);
	--table-focused-header-background: rgba(255, 255, 255, 0.1);
	--table-even-row-background: transparent;
	--table-header-background: rgba(255, 255, 255, 0.125);
	--scrollbar-background-color: rgba(255, 255, 255, 0.4);
	--scrollbar-color: #ededed;
	--scrollbar-hover-color: rgba(237, 237, 237, 0.8);
	--modal-overlay-color: rgba(20, 20, 30, 0.9);
	--select-background: rgba(40, 40, 50, 0.98);
	--highlighted-section-background: rgba(40, 40, 50, 0.90);
	--textarea-background: rgba(0, 0, 0, 0.95);
	--tooltip-background: rgba(40, 40, 50, 0.95);
	--combobox-item-height: 20px;
	--expander-hover-color: var(--primary-light-color);
	--hover-background-color: var(--primary-light-color);
	--expander-background-color: rgba(255, 255, 255, 0.05);
	--expander-content-background-color: rgba(255, 255, 255, 0.02);
	--choice-option-backround: var(--select-background);
	--backdrop-filter: none; // blur(4px)
	--background-color: #11233d;
	--text-selection-color: rgba(255, 255, 255, 0.2);
	--chip-background: rgba(255, 255, 255, 0.1);
}

body {
	margin: 0;
	overflow: hidden;
	// min-width 400px
	// overflow-x auto
}

html, body, form, fieldset, table, tr, td, img {
	font-family: 'Quicksand', sans-serif !important;
}

input, button, select, textarea, optgroup, option {
	font-family: inherit;
}

.fade-enter-active {
	transition: all 0.2s;
}

.fade-leave-active {
	transition: all 0.2s;
}

.fade-enter, .fade-leave-to {
	opacity: 0;
}

.ripple {
	background-position: center;
	transition: background 0.4s;
}

.ripple:hover {
	background: radial-gradient(circle, transparent 1%, rgba(255, 255, 255, 0.15) 1%) center / 15000%;
}

.ripple:active {
	background-color: transparent;
	background-size: 100%;
	transition: background 0s;
}

.ml-1 {
	margin-left: var(--half-spacing);
}

.mr-1 {
	margin-right: var(--half-spacing);
}

.ml-2 {
	margin-left: var(--spacing);
}

.mr-2 {
	margin-right: var(--spacing);
}

.mt-0 {
	margin-top: 0;
}

.mt-1 {
	margin-top: var(--half-spacing);
}

.mb-0 {
	margin-bottom: 0	
}

.mb-1 {
	margin-bottom: var(--half-spacing);
}

.mt-2 {
	margin-top: var(--spacing);
}

.mb-2 {
	margin-bottom: var(--spacing);
}

.mb-3 {
	margin-bottom: var(--double-spacing);
}

.mb-4 {
	margin-bottom: var(--triple-spacing);
}

.mh-1 {
	margin-left: var(--half-spacing) !important;
	margin-right: var(--half-spacing) !important;
}

.mh-2 {
	margin-left: var(--spacing);
	margin-right: var(--spacing);
}

.mv-0 {
	margin-bottom: 0px !important;
	margin-top: 0px !important;
}

.mv-1 {
	margin-bottom: var(--half-spacing);
	margin-top: var(--half-spacing);
}

.mv-2 {
	margin-bottom: var(--spacing);
	margin-top: var(--spacing);
}

.ma-0 {
	margin: 0px !important;
}

.ma-1 {
	margin: var(--half-spacing);
}

.ma-2 {
	margin: var(--spacing);
}

.pl-0 {
	padding-left: 0px !important;
}

.pr-0 {
	padding-right: 0px !important;
}

.pl-1 {
	padding-left: var(--half-spacing);
}

.pr-1 {
	padding-right: var(--half-spacing);
}

.pl-2 {
	padding-left: var(--spacing);
}

.pr-2 {
	padding-right: var(--spacing);
}

.pt-1 {
	padding-top: var(--half-spacing);
}

.pb-1 {
	padding-bottom: var(--half-spacing);
}

.pt-2 {
	padding-top: var(--spacing);
}

.pb-2 {
	padding-bottom: var(--spacing);
}

.pb-3 {
	padding-bottom: var(--double-spacing);
}

.pb-4 {
	padding-bottom: var(--triple-spacing);
}

.ph-1 {
	padding-right: var(--half-spacing) !important;
	padding-left: var(--half-spacing) !important;
}

.ph-2 {
	padding-right: var(--spacing) !important;
	padding-left: var(--spacing) !important;
}

.ph-3 {
	padding-right: calc(var(--spacing) * 2) !important;
	padding-left: calc(var(--spacing) * 2) !important;
}

.ph-4 {
	padding-right: calc(var(--spacing) * 3) !important;
	padding-left: calc(var(--spacing) * 3) !important;
}

.pv-1 {
	padding-top: var(--half-spacing);
	padding-bottom: var(--half-spacing);
}

.pv-2 {
	padding-top: var(--spacing);
	padding-bottom: var(--spacing);
}

.pv-3 {
	padding-top: calc(var(--spacing) * 2) !important;
	padding-bottom: calc(var(--spacing) * 2) !important;
}

.pv-4 {
	padding-top: calc(var(--spacing) * 3) !important;
	padding-bottom: calc(var(--spacing) * 3) !important;
}

.pa-0 {
	padding: 0px !important;
}

.pa-1 {
	padding: var(--half-spacing);
}

.pa-2 {
	padding: var(--spacing);
}

.z-depth-1 {
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.z-depth-1-half {
	-webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

/* 6dp elevation modified */
.z-depth-2 {
	-webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

/* 12dp elevation modified */
.z-depth-3 {
	-webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

/* 16dp elevation */
.z-depth-4 {
	-webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}

/* 24dp elevation */
.z-depth-5 {
	-webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
	box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.card {
	background-color: var(--card-background);
	padding: var(--spacing);
	margin: var(--spacing);
	border-radius: var(--border-radius);
	position: relative;
	backdrop-filter: var(--backdrop-filter);
	background-attachment: fixed;
}

.center-v {
	height: 100%;
	display: flex;
	align-items: center;
}

.center-h {
	width: 100%;
	display: flex;
	justify-content: center;
}

.center {
	display: grid;
	place-items: center;
	height: 100%;
}

.scrollable {
	overflow: auto;
	height: 100%;
	width: 100%;
}

.scrollable-x {
	overflow-y: visible;
	overflow-x: auto;
	width: 100%;
}

.cursor-pointer {
	cursor: pointer;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px var(--scrollbar-background-color);
}

::-webkit-scrollbar-track:horizontal {
	border-radius: var(--border-radius) var(--border-radius) 0 0;
}

::-webkit-scrollbar-track:vertical {
	border-radius: var(--border-radius) 0 0 var(--border-radius);
}

::-webkit-scrollbar-thumb:horizontal {
	border-radius: var(--border-radius) var(--border-radius) 0 0;
}

::-webkit-scrollbar-thumb:vertical {
	border-radius: var(--border-radius) 0 0 var(--border-radius);
}

::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-color);
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--scrollbar-hover-color);
}

.spacer {
	content: '';
	padding: var(--half-spacing);
}

.divider {
	content: '';
	border-top: 1px solid var(--divider-color);
	box-sizing: border-box;
}

.primary-on-hover:hover {
	color: var(--primary-color);
}

.modal {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background-color: var(--modal-overlay-color);
	opacity: 0;
	pointer-events: none;
	transition: 0.3s;
	color: var(--text-color);
	cursor: default;
	user-select: none;

	.card {
		max-height: calc(100vh - var(--double-spacing) * 4) !important;
		overflow-y: auto;
		-webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
		box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
	}
}

.modal-active {
	opacity: 1;
	pointer-events: all;
}

.app-overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 1000;
	pointer-events: none;
	user-select: none;
}

.disabled {
	pointer-events: none;
	user-select: none;
	color: var(--disabled-color) !important;
}

.capitalize {
	text-transform: capitalize;
}

.uppercase {
	text-transform: uppercase;
}

.stretch {
	width: 100%;
	height: 100%;
}

.menu-item-container {
	display: grid;
	grid-template-columns: auto;
	cursor: pointer;
	color: var(--text-color);
	grid-column-gap: var(--spacing);
	padding: var(--half-spacing) var(--spacing);

	.icon {
		display: none;
	}

	.item {
		text-align: start;
		height: var(--combobox-item-height);
		text-transform: initial;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

		.hint {
			display: inline;
			color: var(--hint-color);
			font-size: 0.85rem;
		}
	}

	&:hover {
		background-color: var(--primary-light-color-opaque);
	}
}

.menu-item-container-with-icon {
	.icon {
		display: block;
		align-self: center;
		justify-self: center;
	}

	grid-template-columns: 20px 1fr;
}

::selection {
	background: var(--text-selection-color);
}

.not-selectable {
	user-select: none;
}

.hoverable {
	transition: background-color 0.2s;
}

.hoverable:hover {
	background-color: var(--hover-background-color);
}